# Ignore les environnements virtuels
venv/
nlp_env/
nlp_env_new/
.env/
.env

# Ignore les fichiers de logs
*.log*
nlp_analysis.log*

# Ignore les fichiers de cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore les fichiers temporaires ou systèmes
*.swp
*.swo
.DS_Store
*.tmp
*.bak

# Ignore les fichiers de configuration DDEV
.ddev/
